# Massachusetts Eviction Data and Housing Court Statistics

In [102]:
# import code block
from selenium import webdriver
from bs4 import BeautifulSoup
import zipfile
import pandas as pd
from io import StringIO
import requests
import csv
import time
import random
import matplotlib.pyplot as plt
from urllib.request import urlopen
import re
from pandas import ExcelWriter

## Get all the links for dates and store them in a list

In [4]:
html = urlopen('https://masslandlords.net/policy/eviction-data/?ct=t%28Event+Webinar+2021-01-22+T-21+v1%29')
bs = BeautifulSoup(html, 'html.parser')

# collect all of the dates urls into one list
urls = bs.find_all('a',{'href':re.compile('https://masslandlords.net/policy/eviction-data/filings-week-ending-*')})

# clean urls of unnecessary attribute data - only need href
urls = [url['href'] for url in urls]

# we want the urls for the first 6 weeks of data, let's verify we have them by printing them out
# Should be weeks 10/24 to 11/28 i n2020
print(urls[0:6])

['https://masslandlords.net/policy/eviction-data/filings-week-ending-2020-10-24/', 'https://masslandlords.net/policy/eviction-data/filings-week-ending-2020-10-31/', 'https://masslandlords.net/policy/eviction-data/filings-week-ending-2020-11-07/', 'https://masslandlords.net/policy/eviction-data/filings-week-ending-2020-11-14/', 'https://masslandlords.net/policy/eviction-data/filings-week-ending-2020-11-21/', 'https://masslandlords.net/policy/eviction-data/filings-week-ending-2020-11-28/']

## Define some functions so we don't have to rewrite code to scrape each week data

In [255]:
def getSoup(url):
    """ param: url of site to get soup for. Returns soup (AKA text) for site url"""
    html = urlopen(url)
    bs = BeautifulSoup(html, 'html.parser')
    soup = bs.find('section',id='main-content').find('p', class_='monospace').get_text()
    return soup

def getSections(soup):
    """param: soup/text for url. Returns text divided into sections for easier conversion to tables"""
    # page is split into 5 sections separted by '--'
    a,b,c,d,e,f =soup.split('--')
    # section c has many different tables within, not split by '--' but rather by newlines. 
    # we'll clean it up using a regular expression (regex) and then split it into 11 sections to better disect each
    # table individually 
    # remove beginning and ending newlines
    reg = re.compile('^\r\n')
    c = reg.sub('',c,count=1)
    reg2 = re.compile('\r\n\r\n\r\n$')
    c=reg2.sub('',c,count=1)
    c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11 = c.split("\r\n\r\n\r\n")
        
    # we'll return all these variables
    return a,b,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,d,e,f

def convertToDf(htmlTable,cNumSection):
    """param: html table (aka one of the sections divided aboce), and a cNumSection param which is an int indicating
       which section of c (if any) we are converting. This helps us define our indexes for our table.
       returns table as pandas dataframe 
       NOTE: While the startIndex and columnIndex values below work most of the time, there are small discrepancies 
       beterrn data for different weeks that may cause certain tables to come off a column short. Feel free to 
       change the values below as you see fit. If we decide in the future that it is easier to pass them is an parameters, 
       we change this function easily. 
    """
    # set default start values
    startIndex = 0
    endIndex = 0
    columnIndex = 0
    
    if cNumSection in [1,2,4,10,11]:
        startIndex = 2
        columnIndex = 1
    elif cNumSection in [8]:
        startIndex = 1
        columnIndex = 0
    elif cNumSection in [3,5,7,9]:
        startIndex = 1
        columnIndex = 0
    elif cNumSection == 6:
        startIndex = 3
        columnIndex = 2
    else:
        startIndex = 1
        columnIndex = 0
    
    # remove newline at the beginning of the table "block"
    reg = re.compile('^\r\n')
    htmlTable = reg.sub('',htmlTable,count=1)

    # split the table into separate columns
    htmlTable = htmlTable.split('\r\n')
    for index in range(len(htmlTable)):
        htmlTable[index] = re.split('  +',htmlTable[index])

    # load the data into a dataframe
    df = pd.DataFrame(htmlTable[startIndex:],columns=htmlTable[columnIndex])
    return df

def createCsv(dataFrames, sheetNames, currUrlIndex):
    """param: list of data frames, list of strings for respective name of sheet for each data frame, local file path 
       for creation of CSV, and index of current URL (from list created in code block above)
    """
    #name file 
    name=re.sub('\/', '', urls[currUrlIndex])
    name=name[50:]
    print(name)
    
    # Create a Pandas Excel writer using XlsxWriter as the engine.
    # NOTE: Update the below path to your computer's
    writer = pd.ExcelWriter(r'/Users/gonzo/Documents/AP/AP-Evictions-Tracker/'+name+".xlsx")
    
    for i in range(len(dataFrames)):
        if i in [1,3,5]:
            dataFrames[i].to_excel(writer, sheet_name=sheetNames[i],startrow=6 , startcol=0,index=False)
        else:
            dataFrames[i].to_excel(writer, sheet_name=sheetNames[i],startrow=0 , startcol=0,index=False)
    
    #close the Pandas Excel writer and output the Excel file
    writer.save()

## Get data for week of 10/24/2020

In [182]:
soup = getSoup(urls[0])

In [212]:
a,b,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,d,e,f = getSections(soup)

Courts
(n)                   Count   Percent
northeast                16     32.7%
southeast                 8     16.3%
eastern                   6     12.2%
central                   6     12.2%
metro_south               6     12.2%
western                   5     10.2%
somerville district       1      2.0%
taunton district          1      2.0%

In [225]:
# NOTE: Had to do the parsing for d manually, as its formatted differently than the 'c' section
# remove beginning and ending newlines
reg = re.compile('^\r\n')
d = reg.sub('',d,count=1)
reg2 = re.compile('\r\n\r\n\r\n$')
d=reg2.sub('',d,count=1)
d1 = d.split("\r\n\r\n")
d1 = d1[1]
# remove newline at the beginning of the table "block"
reg = re.compile('^\r\n')
d1 = reg.sub('',d1,count=1)

# split the table into separate columns
d1 = d1.split('\r\n')
for index in range(len(d1)):
    d1[index] = re.split('  +',d1[index])

# load the data into a dataframe
countyRentersPercent = pd.DataFrame(d1[1:],columns=['County', 'Households', '% Renters'])

In [227]:
# Create dataframes for tables in 'c'
courts = convertToDf(c1,1)
partyTypeNum = convertToDf(c2,2)
partyTypePercent = convertToDf(c3,3)
plaintiffRepNum = convertToDf(c4,4)
plaintiffRepPercent = convertToDf(c5,5)
defendantRepNum = convertToDf(c6,6)
defendantRepPercent = convertToDf(c7,7)
numAdultsHouseholds = convertToDf(c8,8)
initiatingAction = convertToDf(c9,9)
ratePer100k = convertToDf(c10, 10)
ratePer100kRenters = convertToDf(c11,11)

# display data frames
display(courts)
display(partyTypeNum)
display(partyTypePercent)
display(plaintiffRepNum)
display(plaintiffRepPercent)
display(defendantRepNum)
display(defendantRepPercent)
display(numAdultsHouseholds)
display(initiatingAction)
display(ratePer100k)
display(ratePer100kRenters)
display(countyRentersPercent)

                   (n) Count Percent
0            northeast    16   32.7%
1            southeast     8   16.3%
2              eastern     6   12.2%
3              central     6   12.2%
4          metro_south     6   12.2%
5              western     5   10.2%
6  somerville district     1    2.0%
7     taunton district     1    2.0%

                (n) Plaintiffs Defendants
0  Corporate Entity         17          0
1    Natural Person         32         49
2             Total         49         49

                (%) Plaintiffs Defendants
0  Corporate Entity      34.7%       0.0%
1    Natural Person      65.3%     100.0%
2             Total     100.0%     100.0%

        (n) Has Attorney Pro Se Total
0  Required           16      1    17
1  Optional           12     20    32
2     Total           28     21    49

        (%) Has Attorney Pro Se   Total
0  Required        32.7%   2.0%   34.7%
1  Optional        24.5%  40.8%   65.3%
2     Total        57.1%  42.9%  100.0%

        (n) Has Attorney Pro Se Total
0  Required            0      0     0
1  Optional            5     44    49
2     Total            5     44    49

        (%) Has Attorney Pro Se   Total
0  Required         0.0%   0.0%    0.0%
1  Optional        10.2%  89.8%  100.0%
2     Total        10.2%  89.8%  100.0%

  Number of Adults in Households Count Percent
0                              1    36   73.5%
1                              2    10   20.4%
2                              3     3    6.1%
3                          Total    49  100.0%

  Initiating Action Count Percent
0             Cause    21   42.9%
1       Non-payment    18   36.7%
2          No Fault     5   10.2%
3       Foreclosure     3    6.1%
4             Other     2    4.1%

                                         Municipality Residents Count
0                                      Vineyard Haven        52     1
1                                          Osterville        28     1
2                                       East Falmouth        17     1
3                                           Topsfield        16     1
4                                             Shirley        13     1
5                                         Southbridge        11     2
6                                            Amesbury         6     1
7                                            Brockton         5     5
8                                         Newburyport         5     1
9                                            Pembroke         5     1
10                                            Hingham         4     1
11                                         Pittsfield         4     2
12                                        Bridgewater         3     1
13                                            Danvers         3     1
14                                          Haverhill         3     2
15                                           Lawrence         3     3
16                                         Marshfield         3     1
17                                             Natick         3     1
18                                            Beverly         2     1
19                                            Chelsea         2     1
20                                         Dorchester         2     2
21                                            Everett         2     1
22                                               Lynn         2     2
23                                            Methuen         2     1
24                                        New Bedford         2     2
25                                         Somerville         2     2
26                                       South Boston         2     1
27                                           Chicopee         1     1
28                                             Malden         1     1
29                                            Medford         1     1
30                                        Springfield         1     2
31                                          Worcester         1     2
32                                        (not given)         0     2
33  Rate per 100,000 residents based on 2010 censu...      None  None

                                               County Renter Households Count
0                                               Dukes                24     1
1                                            Plymouth                20     9
2                                           Berkshire                12     2
3                                               Essex                11    13
4                                          Barnstable                10     2
5                                             Hampden                 4     3
6                                           Middlesex                 3     7
7                                           Worcester                 3     4
8                                             Bristol                 2     2
9                                             Suffolk                 2     4
10                                           Franklin                 0     0
11                                          Hampshire                 0     0
12                                          Nantucket                 0     0
13                                            Norfolk                 0     0
14  Rate per 100,000 renter households based on 20...              None  None

        County Households % Renters
0   Barnstable     96,509     20.0%
1    Berkshire     53,792     30.0%
2      Bristol    220,528     37.3%
3        Dukes     18,146     22.6%
4        Essex    297,898     36.9%
5     Franklin     30,927     34.1%
6      Hampden    179,970     39.5%
7    Hampshire     60,002     30.7%
8    Middlesex    612,366     38.1%
9    Nantucket     11,399     30.8%
10     Norfolk    269,717     31.6%
11    Plymouth    191,041     22.6%
12     Suffolk    309,945     63.7%
13   Worcester    316,162     35.2%

## Write to CSV

In [256]:
dataFrames = [courts,partyTypeNum,partyTypePercent,plaintiffRepNum,plaintiffRepPercent,defendantRepNum,
              defendantRepPercent,numAdultsHouseholds,initiatingAction,ratePer100k,ratePer100kRenters,countyRentersPercent]
sheetNames = ['Courts','Party Type','Party Type','Plaintiff Representation', 'Plaintiff Representation',
             'Defendant Representation','Defendant Representation','Number of Adults in Households',
             'Initiating Action','Municipality rate per 100k','County rate per 100k','County Households % Renters']
# path = '/Users/gonzo/Documents/AP/AP-Evictions-Tracker/'

createCsv(dataFrames, sheetNames, 0)

week-ending-2020-10-24