In [580]:
# import code block
from selenium import webdriver
from bs4 import BeautifulSoup
import zipfile
import pandas as pd
import requests
import csv
import time
import random
import matplotlib.pyplot as plt
from urllib.request import urlopen
import re
from pandas import ExcelWriter

In [581]:
html = urlopen('https://masslandlords.net/policy/eviction-data/?ct=t%28Event+Webinar+2021-01-22+T-21+v1%29')
bs = BeautifulSoup(html, 'html.parser')
# collect all of the dates urls into one list
urls = bs.find_all('a',{'href':re.compile('https://masslandlords.net/policy/eviction-data/filings-week-ending-*')})

In [582]:
# clean urls of unnecessary attribute data - only need href
urls = [url['href'] for url in urls]
print(urls[11])
html = urlopen(urls[11])
bs = BeautifulSoup(html, 'html.parser')

text = bs.find('section',id='main-content').find('p', class_='monospace').get_text()

https://masslandlords.net/policy/eviction-data/filings-week-ending-2021-01-09/

In [583]:
a,b,c,d,e,f =text.split('--')

In [584]:
# remove beginning and ending newlines
reg = re.compile('^\r\n')
c = reg.sub('',c,count=1)
reg2 = re.compile('\r\n\r\n\r\n$')
c=reg2.sub('',c,count=1)
c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11 = c.split("\r\n\r\n\r\n")

In [585]:
# remove newline at the beginning of the table "block"
reg = re.compile('^\r\n')
c1 = reg.sub('',c1,count=1)

# split the table into separate columns
c1 = c1.split('\r\n')
for index in range(1,len(c1)):
    c1[index] = re.split('  +',c1[index])

# load the data into a dataframe
courts = pd.DataFrame(c1[2:],columns=c1[1])
courts

                           (n) Count Percent
0                    northeast   150   22.1%
1                      western   149   22.0%
2                      central   117   17.3%
3                    southeast   100   14.7%
4                      eastern    79   11.7%
5                  metro_south    44    6.5%
6                lynn district    10    1.5%
7             chelsea district     3    0.4%
8              dedham district     2    0.3%
9           edgartown district     2    0.3%
10           lawrence district     2    0.3%
11            orleans district     2    0.3%
12               ayer district     1    0.1%
13         barnstable district     1    0.1%
14                bmc brighton     1    0.1%
15             bmc east boston     1    0.1%
16          brookline district     1    0.1%
17          cambridge district     1    0.1%
18  eastern hampshire district     1    0.1%
19         fall river district     1    0.1%
20             lowell district     1    0.1%
21             malden district     1    0.1%
22          nantucket district     1    0.1%
23             newton district     1    0.1%
24         pittsfield district     1    0.1%
25             quincy district     1    0.1%
26         somerville district     1    0.1%
27            wareham district     1    0.1%
28          westfield district     1    0.1%
29             woburn district     1    0.1%

In [586]:
# remove newline at the beginning of the table "block"
reg = re.compile('^\r\n')
c2 = reg.sub('',c2,count=1)

# split the table into separate columns
c2 = c2.split('\r\n')
for index in range(1,len(c2)):
    c2[index] = re.split('  +',c2[index])

# load the data into a dataframe
party_type = pd.DataFrame(c2[2:],columns=c2[1])
party_type

                (n) Plaintiffs Defendants
0  Corporate Entity        478          6
1    Natural Person        200        672
2             Total        678        678

In [587]:
# remove newline at the beginning of the table "block"
reg = re.compile('^\r\n')
c3 = reg.sub('',c3,count=1)

# split the table into separate columns
c3 = c3.split('\r\n')
for index in range(0,len(c3)):
    c3[index] = re.split('  +',c3[index])

# load the data into a dataframe
party_type_pct = pd.DataFrame(c3[1:],columns=c3[0])
party_type_pct

                (%) Plaintiffs Defendants
0  Corporate Entity      70.5%       0.9%
1    Natural Person      29.5%      99.1%
2             Total     100.0%     100.0%

In [588]:
# remove newline at the beginning of the table "block"
reg = re.compile('^\r\n')
c4 = reg.sub('',c4,count=1)

# split the table into separate columns
c4 = c4.split('\r\n')
for index in range(0,len(c4)):
    c4[index] = re.split('  +',c4[index])

# load the data into a dataframe
plaintiff_repr = pd.DataFrame(c4[2:],columns=c4[1])
plaintiff_repr

        (n) Has Attorney Pro Se Total
0  Required          470      8   478
1  Optional           93    107   200
2     Total          563    115   678

In [589]:
# remove newline at the beginning of the table "block"
reg = re.compile('^\r\n')
c5 = reg.sub('',c5,count=1)

# split the table into separate columns
c5 = c5.split('\r\n')
name = c5[0]
for index in range(0,len(c5)):
    c5[index] = re.split('  +',c5[index])

# load the data into a dataframe
plaintiff_repr_pct = pd.DataFrame(c5[1:],columns=c5[0])
plaintiff_repr_pct

        (%) Has Attorney Pro Se   Total
0  Required        69.3%   1.2%   70.5%
1  Optional        13.7%  15.8%   29.5%
2     Total        83.0%  17.0%  100.0%

In [590]:
# remove newline at the beginning of the table "block"
reg = re.compile('^\r\n')
c6 = reg.sub('',c6,count=1)

# split the table into separate columns
c6 = c6.split('\r\n')
for index in range(0,len(c6)):
    c6[index] = re.split('  +',c6[index])

# load the data into a dataframe, cutting off note: "Defendants will not have an attorney known to the plaintiff at time of filing unless this is an ongoing matter. 100% pro se is to be expected in all filing reports except to the extent time passes between filing and staff review. See outcomes report for final assessment."
defendant_repr = pd.DataFrame(c6[4:],columns=c6[3])
defendant_repr

        (n) Has Attorney Pro Se Total
0  Required            0      6     6
1  Optional            7    665   672
2     Total            7    671   678

In [591]:
# remove newline at the beginning of the table "block"
reg = re.compile('^\r\n')
c7 = reg.sub('',c7,count=1)

# split the table into separate columns
c7 = c7.split('\r\n')
for index in range(0,len(c7)):
    c7[index] = re.split('  +',c7[index])

# load the data into a dataframe
defendant_repr_pct = pd.DataFrame(c7[1:],columns=c7[0])
defendant_repr_pct

        (%) Has Attorney Pro Se   Total
0  Required         0.0%   0.9%    0.9%
1  Optional         1.0%  98.1%   99.1%
2     Total         1.0%  99.0%  100.0%

In [592]:
# remove newline at the beginning of the table "block"
reg = re.compile('^\r\n')
c8 = reg.sub('',c8,count=1)

# split the table into separate columns
c8 = c8.split('\r\n')
for index in range(len(c8)):
    c8[index] = re.split('  +',c8[index])

# load the data into a dataframe
num_adults = pd.DataFrame(c8[2:8],columns=c8[0])
num_adults

  Number of Adults in Households Count Percent
0                              1   516   76.1%
1                              2   114   16.8%
2                              3    10    1.5%
3                              4     6    0.9%
4                              5     2    0.3%
5                          Total   678  100.0%

In [593]:
# remove newline at the beginning of the table "block"
reg = re.compile('^\r\n')
c9 = reg.sub('',c9,count=1)

# split the table into separate columns
c9 = c9.split('\r\n')
for index in range(len(c9)):
    c9[index] = re.split('  +',c9[index])

# load the data into a dataframe
init_action = pd.DataFrame(c9[1:],columns=c9[0])
init_action

  Initiating Action Count Percent
0       Non-payment   536   79.1%
1             Cause    60    8.8%
2          No Fault    42    6.2%
3     Unknown/Other    39    5.8%
4       Foreclosure     1    0.1%

In [594]:
# remove newline at the beginning of the table "block"
reg = re.compile('^\r\n')
c10 = reg.sub('',c10,count=1)

# split the table into separate columns
c10 = c10.split('\r\n')
for index in range(len(c10)):
    c10[index] = re.split('  +',c10[index])

# load the data into a dataframe
rate_per_100k = pd.DataFrame(c10[2:82],columns=c10[1])
rate_per_100k

      Municipality Residents Count
0      West Warren        88     1
1     Whitinsville        72     5
2     Harwich Port        57     1
3           Carver        52     6
4   Vineyard Haven        52     1
..             ...       ...   ...
75    South Boston         2     1
76          Woburn         2     1
77       Cambridge         1     2
78     (not given)         0   381
79          Boston         0     3

[80 rows x 3 columns]

In [595]:
# remove newline at the beginning of the table "block"
reg = re.compile('^\r\n')
c11 = reg.sub('',c11,count=1)

# split the table into separate columns
c11 = c11.split('\r\n')
for index in range(len(c11)):
    c11[index] = re.split('  +',c11[index])

# load the data into a dataframe
rate_per_100k_renters = pd.DataFrame(c11[2:16],columns=c11[1])
rate_per_100k_renters

        County Renter Households Count
0      Bristol                91    75
1    Worcester                85    95
2     Plymouth                53    23
3   Barnstable                51    10
4    Nantucket                28     1
5        Dukes                24     1
6    Berkshire                18     3
7    Middlesex                15    35
8      Suffolk                15    31
9        Essex                13    15
10     Norfolk                 8     7
11   Hampshire                 5     1
12    Franklin                 0     0
13     Hampden                 0     0

In [596]:
# remove beginning and ending newlines
reg = re.compile('^\r\n')
d = reg.sub('',d,count=1)
reg2 = re.compile('\r\n\r\n\r\n$')
reg3=re.compile('\r\n\r\n$')
d=reg2.sub('',d,count=1)
d1,d2= d.split("\r\n\r\n\r\n")
d1,d2,d3,d4,d5,d6,d7=d2.split("\r\n\r\n")

In [597]:
# remove newline at the beginning of the table "block"
reg = re.compile('^\r\n')
d1 = reg.sub('',d1,count=1)

# split the table into separate columns
d1 = d1.split('\r\n')
for index in range(0,len(d1)):
    d1[index] = re.split('  +',d1[index])

# load the data into a dataframe
County_household_percent_renters= pd.DataFrame(d1[1:],columns=['County', 'Households', '% Renters'])
County_household_percent_renters

        County Households % Renters
0   Barnstable     96,509     20.0%
1    Berkshire     53,792     30.0%
2      Bristol    220,528     37.3%
3        Dukes     18,146     22.6%
4        Essex    297,898     36.9%
5     Franklin     30,927     34.1%
6      Hampden    179,970     39.5%
7    Hampshire     60,002     30.7%
8    Middlesex    612,366     38.1%
9    Nantucket     11,399     30.8%
10     Norfolk    269,717     31.6%
11    Plymouth    191,041     22.6%
12     Suffolk    309,945     63.7%
13   Worcester    316,162     35.2%

In [631]:
#pip install xlsxwriter
#pip install xlwx

#name file 
name=re.sub('\/', '', urls[11])
name=name[50:]

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter(r"C:\Users\wjg39\Documents\Desktop\AP Evictions\\"+name+".xlsx")

In [635]:
#write each DataFrame to a specific sheet
courts.to_excel(writer, sheet_name='Courts',index=False)
party_type.to_excel(writer, sheet_name='Party Type',startrow=0 , startcol=0,index=False)
party_type_pct.to_excel(writer, sheet_name='Party Type',startrow=6 , startcol=0,index=False)
plaintiff_repr.to_excel(writer, sheet_name='Plaintiff Representation',startrow=0 , startcol=0,index=False)
plaintiff_repr_pct.to_excel(writer, sheet_name='Plaintiff Representation',startrow=6 , startcol=0,index=False)
defendant_repr.to_excel(writer, sheet_name='Defendant Representation',startrow=0 , startcol=0,index=False)
defendant_repr_pct.to_excel(writer, sheet_name='Defendant Representation',startrow=6 , startcol=0,index=False)
num_adults.to_excel(writer, sheet_name='Number of Adults in Households',index=False)
init_action.to_excel(writer, sheet_name='Initiating Action',index=False)
rate_per_100k.to_excel(writer, sheet_name='Municipality rate per 100k',index=False)
rate_per_100k_renters.to_excel(writer, sheet_name='County rate per 100k',index=False)
County_household_percent_renters.to_excel(writer, sheet_name='County Households % Renters',index=False)

#close the Pandas Excel writer and output the Excel file
writer.save()